h1{
    text-align: center;
    color: blue;
}
ul{
    list-style-type: none;
    color: #689898;
    display: inline-block;
}
#time-learn{
    text-align: right;
    margin-top: 0px;
}
div{
    width: inherit;
    display: inline-block;
}
body{
    width: 500px;
    border: 1px solid black;
}