h1{
    text-align: center;
    color: blue;
}
ul {
    list-style-type: none;
    color: #689898;
}
#time-learn{
    text-align: right;
    display: flex;
    flex-direction: column;
}
#information-class{
    text-align: left;
}
div{
    display: inline-block;
    /*width: inherit;*/
}
body{
    width: 500px;
    border: 1px solid black;
}